body{
    background-color: #f2f3f5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/* 头部和尾部,版心以及各个页面相同的样式 */
.container {
    width: 1240px;
    margin: 0 auto;
}
// fade-slide 动画
.fade-slide-leave-active,
.fade-slide-enter-active{
    transform: all 0.3s;
}
.fade-slide-enter-form{
    transform: translate(-30px);
    opacity: 0;
}
.fade-slide-leave-to{
    transform: translate(30px);
    opacity: 0;
}

a {  
    text-decoration: none;  
  }
  li {  
    list-style-type: none;  
  }