
body{
    height: 100%;
    margin: 0;
    background-color: #f2f3f5;
}
// fade-slide 动画
.fade-slide-leave-active,
.fade-slide-enter-active{
    transform: all 0.3s;
}
.fade-slide-enter-form{
    transform: translate(-30px);
    opacity: 0;
}
.fade-slide-leave-to{
    transform: translate(30px);
    opacity: 0;
}


/* pc端 500-2400 */
@media screen and (min-width: 500px)and (max-width: 2400px){
    html {
        font-size: 16px;
    }
    .homeLogoShow{
        display: block;
    }
}
/* 移动端 100-500px */
@media screen and (min-width: 100px)and (max-width: 500px){
    html {
        font-size: 12px !important;
    }
    .homeLogoShow{
        display: none;
    }
}